header {
            border-bottom: 1px gray solid;
            padding: 20px
        }

        nav {
            float: left;
            border-right: 1px gray solid;
            width: 200px;
            height : 600px
        }

        article {
            float: left;
            padding : 20px
        }

        nav ol{
            list-style: none;
        }
        